body {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
text-align: center;
}

a { color: #73BDD7; }

@media screen and (min-width: 1201px){
    main{
            display: none;
        }
}