img{
    filter: drop-shadow(0 0 25px rgba(110, 231, 243, 1)) opacity(0.3);
}

main{
    opacity: 1;
    user-select: none;
    text-align: center;
    display: block;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main div{
  box-shadow:0 8px 30px rgba(2,6,23,0.6);
    padding:18px; border-radius:12px; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px);
}